/* product  */
.product {
  position: relative;
  background-color: #ffffff;
  padding: 0.7rem;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.product .image {
  width: 100%;
  height: 100px;
  position: relative;
}
.product .details {
  margin: 0.5rem 0rem;
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.692), #ffff);
  backdrop-filter: blur(4px);
  padding-top: 1rem;
}
.product .details > .inner-details {
  margin: 0.3rem 0rem;
}
.product .details .inner-details li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0.5rem 0rem;
  border-bottom: 1px solid #ddd;
}
.product .details .inner-details ul li span:last-child {
  font-weight: bold;
}
.product .details .inner-details span {
  font-size: 0.8rem;
}
.colorize {
  color: var(--secondary-color);
}
.product div.cart-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.9rem 0rem;
}
.product .cart-btns button {
  padding: 0.4rem 0.5rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: #fff;
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.preview {
  position: absolute;
  width: 100%;
  height: 250%;
  left: 0%;
  top: 0%;
  z-index: 2;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 14px rgb(0 0 0 / 2%);
  opacity: 0;
  transition: all 0.4s ease;
}
.product:active .image .preview {
  opacity: 1;
}
